@keyframes slide-from-right {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
//   .portrait-title {
//     animation: slide-from-right 2s forwards;
//   }
  
//   .article-style  {
//     animation: slide-from-right 2s forwards;
//   }
@keyframes flipInX {
    0% {
       transform: perspective(400px) rotateX(90deg);
       opacity: 0;
    }
    40% {
       transform: perspective(400px) rotateX(-10deg);
    }
    70% {
       transform: perspective(400px) rotateX(10deg);
    }
    100% {
       transform: perspective(400px) rotateX(0deg);
       opacity: 1;
    }
 } 
  
  .me {
    animation: flipInX 1s both;
    animation-delay: 0.5s;
  }